<h1>Listing Dog Owners</h1>

<%= link_to 'Add new Owner', owners_new_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Profession</th>
  </tr>
  <% @owners.each do |owner| %>
  <tr>
    <td><%= owner.name %></td>
    <td><%= owner.profession %></td>
    <td><%= link_to 'Show', owner_path(owner) %></td>
    <td><%= link_to 'Delete', owner_path(owner),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %>
