<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @owner.profession %>
</p>
<%= link_to 'Edit Owner Info', edit_owner_path(@owner) %>

<h2>Dogs</h2>
<%= render @owner.dogs %>

<h2>Add a dog</h2>
<%= render 'dogs/form' %>

<%= link_to 'Back', owners_path %>
