<h1>Listing Physicians</h1>

<%= link_to 'Add a New Physician', new_physician_path %>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @physicians.each do |physician| %>
  <tr>
    <td><%= physician.name %></td>
    <td><%= link_to 'Show', physician_path(physician) %></td>
    <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
    <td><%= link_to 'Destroy', physician_path(physician),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %>
